.hover1 {
  background: linear-gradient(to right, #3D154B, #DF3542, #FFD29C);
  color: #fff;
  padding: 10px 30px;
  border: 2px solid #DF3542;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s ease;
  font-family: Rosario;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  line-height: 100%;
  text-transform: capitalize;

}

.hover1:hover {
  background: linear-gradient(to right, #FFD29C, #DF3542, #3D154B);
  color: #fff;
}

.hover2 {
  font-family: Rosario;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: capitalize;
  padding: 1rem 3rem;
  background: #000;
  color: #fff;
  border-radius: 3rem;
}

.hover2:hover {
  background: #fff;
  color: #000;

}

.hover3 {
  font-family: Rosario;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: capitalize;
  padding: 1rem 3rem;
  background: #fff;
  color: #16001E;
  border-radius: 3rem;
}

.hover3:hover {
  background: #16001E;
  color: #fff;

}
.span {
   background: linear-gradient(to right, #3D154B, #DF3542, #FFD29C);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
/* Animation */

@keyframes textSlide {

  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }

}
  /* =================================
   Global End    
   ================================ */

/* =================================
   MAIN SECTION
================================= */

.expertise-section {
  width: 100%;
  padding: 0;
  overflow: hidden;
}




.left-design {
  position: relative;
  min-height: 530px;
}




.main-image-wrapper {
  position: absolute;
  top: 166px;
  left: 0;
  width: 100%;
  height: 65%;
  overflow: hidden;
  border-radius: 0;
}

.main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.spend-card {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 160px;

  background: #e82e42;

  border-radius: 0 0 22px 0;

  z-index: 5;

  display: flex;
  align-items: center;

  padding: 12px;
}


.spend-title {
  color: white;

  font-size: 20px;
  font-weight: 400;

  line-height: 1.2;

  width: 100px;
}




.chart-area {
  flex: 1;
  height: 115px;

  position: relative;
}


.chart-bars {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: flex-end;
  justify-content: space-around;

  gap: 7px;
}


.bar-wrapper {
  height: 100%;

  display: flex;
  flex-direction: column;

  justify-content: flex-end;
  align-items: center;

  position: relative;
}


.chart-bar {
  width: 20px;

  min-height: 15px;

  background: #ffffff;

  border-radius: 3px 3px 0 0;

  transition: height 0.5s ease;
}



.active-bar {
  background: #27002f;
}



.amount {
  position: absolute;

  top: -18px;

  left: 50%;

  transform: translateX(-50%);

  color: white;

  font-size: 7px;

  white-space: nowrap;
}



.month {
  color: white;

  font-size: 7px;

  margin-top: 5px;
}




.right-design {
  position: relative;

  min-height: 530px;
}




.top-image-wrapper {
  position: absolute;

  top: 0;
  right: 14px;

  width: 100%;
  height: 277px;

  overflow: hidden;

  border-radius: 0 0 0 25px;
}


.top-image {
  width: 100%;
  height: 88%;

  object-fit: cover;

  display: block;
}




.stats-card {
  position: absolute;

  right: 14px;

  top: 250px;

  width: 100%;

  min-height: 280px;

  background: #26002d;

  border-radius: 16px 0 0 16px;

  z-index: 10;

  color: white;

  padding: 35px 20px;

  display: flex;

  flex-direction: column;

  justify-content: space-around;

  text-align: center;
}




.stat-item h2 {
  margin: 0;

  font-size: 40px;

  font-weight: 400;

  line-height: 1;
}


.stat-item p {
  margin: 10px 0 0;

  font-size: 17px;

  line-height: 1.2;

  font-weight: 400;
}

.HeroSection .stats-card p {
  color: #fff;
}
/* =================================
   MAIN SECTION End
================================= */
/* =================================
   Slider Section
================================= */
.text-slider {
  width: 100%;
  overflow: hidden;
  background: #ffffff;
  padding: 20px 0;
}



.text-slider-track {
  display: flex;
  width: max-content;
  animation: textSlide 25s linear infinite;
}


.text-slider-group {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}



.slider-text {
  font-family: "Rosario", sans-serif;

  font-weight: 700;

  font-size: 51.22px;

  line-height: 100%;

  letter-spacing: 0;

  text-transform: capitalize;

  white-space: nowrap;

  margin-right: 80px;


  color: transparent;

  -webkit-text-stroke: 1.3px #DF3542;

  background: linear-gradient(
    90deg,
    #3D154B,
    #DF3542,
    #FFD29C
  );

  -webkit-background-clip: text;
  background-clip: text;
}

/* ================================
   speciality section
================================= */
/* Speciality Section */
.SpecialitySection {
  padding: 4rem 0;
  position: relative;
}
.SpecialitySection figure, .SpecialitySection img  {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.SpecialitySection .service-list {
  list-style: none;
  padding: 0;
  margin: 0;
  
}

.SpecialitySection .service-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 22px;
}

.SpecialitySection .service-list .number {
  width: 18px !important;
  height: 18px !important;
  min-width: 18px !important;

  background-color: #DF3542 !important;
  color: #fff !important;

  border-radius: 50% !important;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 11px;
  font-weight: 600;
}

.SpecialitySection .align-items-lg-start {
  width: 74%;
}
.SpecialitySection .align-items-lg-start figure, .SpecialitySection .align-items-lg-start img {
  width: 75%;
  
}
.SpecialitySection .position-relative .position-absolute {
  border-radius: 10px;
  border: solid #4444441A;
  top: 30%;
  left: 50%;
  width: 40%;

}

.SpecialitySection .about-us-tab {
    position: absolute;
    top: 11px;
    right: 12px;
    width: 295px;
    height: 345px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 50;
    gap: 10px;
}


.SpecialitySection .about-line {
  display: block;

  width: 2px;
  height: 165px;

  background-color: #30203a;

  flex-shrink: 0;
}


.SpecialitySection .about-text {
  position: relative;
  z-index: 2;


  writing-mode: vertical-rl;
  transform: rotate(180deg);

 font-family: Rosario;
font-weight: 500;
font-style: Medium;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
text-transform: capitalize;


  white-space: nowrap;
}

.SpecialitySection .about-word {
  color: #27002f;
}

.SpecialitySection .us-word {
  color: #ed917a;
}

.SpecialitySection .about-circle {
  position: absolute;

  width: 45px;
  height: 45px;

  left: 50%;
  bottom: 79px;

  transform: translateX(-50%);

  border-radius: 50%;

  background: linear-gradient(
    145deg,
    #f15b55 0%,
    #e84b63 35%,
    #7d184e 75%,
    #24104a 100%
  );

  z-index: 1;
}
/* Services Section */
.Services {
  padding: 4rem 0;
}
.Services .service-us-tab {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}


.Services .service-line {
  display: block;

  width: 165px;
  height: 2px;

  background-color: #30203a;

  flex-shrink: 0;
}


.Services .service-text {
  z-index: 2;
 font-family: Rosario;
font-weight: 500;
font-style: Medium;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
text-transform: capitalize;
white-space: nowrap;
margin-left: -35px;
}

.Services .service-word {
  color: #27002f;
}

.Services .service-word {
  color: #ed917a;
}

.Services .service-circle {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: linear-gradient(
    145deg,
    #f15b55 0%,
    #e84b63 35%,
    #7d184e 75%,
    #24104a 100%
  );

  z-index: 1;
}
.Services .align-items-lg-start{
  width: 50%;
}

.services-content {
    margin-top: 50px;
}


.service-accordion {
    width: 100%;
}


.service-item {
    border-bottom: 1px solid #dddddd;
}


.service-item-header {
    min-height: 54px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 12px 0;

    cursor: pointer;
}


.service-item.active .service-item-header h4 {
    color: #DF3542;
}

.service-arrow {
    width: 26px;
    height: 26px;

    min-width: 16px;

    border-radius: 50%;

    background-color: #18001e;

    color: #ffffff;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 15px;

    font-weight: 700;

    line-height: 1;
}


.service-item.active .service-arrow {
    background-color: #DF3542;
    padding: 10px 10px;
}




.service-description {
    padding: 0 25px 12px 0;
}







.service-right {
    width: 100%;
}


.service-image {
    width: 100%;

    margin: 0;

    overflow: hidden;
}


.service-image img {
    width: 100%;

    height: 220px;

    display: block;

    object-fit: cover;
}




.service-red-box {
    background-color: #DF3542;

    border-radius: 0 0 10px 10px;

    padding: 15px 20px;

    color: #ffffff;
}


.service-red-box p {
    margin: 0 0 5px;

    font-family: "Rosario", sans-serif;

    font-size: 11px;

    line-height: 1.35;

    color: #ffffff;
}


.service-red-box a {
    color: #ffffff;

    font-family: "Rosario", sans-serif;

    font-size: 11px;

    text-decoration: none;
}


.service-red-box a:hover {
    text-decoration: underline;
}
.Services .hover4 {
  display: none;
}

/* ================================
   MOBILE
================================ */

/* Responsiveness */
@media only screen and (max-width:1400px){
 SpecialitySection .align-items-lg-start {
  width: 88%;
}
.SpecialitySection .about-us-tab {
    right: -65px;
  }
}
@media only screen and (max-width:1200px){
 
  .SpecialitySection .align-items-lg-start {
  width: 100%;
}
.SpecialitySection .about-us-tab {
    right: -158px;
  }

  /* Services Section */
  .Services .align-items-lg-start{
  width: 49%;
}
.Services .service-line {
  width: 116px;
}
}
/* =================================
   TABLET
================================= */

@media (max-width: 991px) {
  .navbar-center {
    flex: 1 1;
  }

  .hover1 {
    font-size: 14px;
    padding: 12px 16px;
  }

  .hover2 {
    padding: 0.5rem 1.5rem;
  }

  .hover3 {
    padding: 0.5rem 1.5rem;
  }

  .left-design {
    min-height: 500px;
  }

  .right-design {
    min-height: 500px;
  }

  .top-image {
    height: 53%;
    object-fit: fill;
  }

  .top-image-wrapper {
    height: 260px;
  }

  .spend-card {
    height: 124px;
  }

  .stats-card {
    top: 160px;
    justify-content: space-evenly;
  }

  .main-image {
    height: 90%;
    object-fit: fill;
  }

  .main-image-wrapper {
    top: 140px
  }

  .stat-item h2 {
    font-size: 24px;
  }

  .HeroSection .stats-card .stat-item p {
    font-size: 11px;

  }

  /* =================================
   Slider Section
================================= */
.slider-text {

  font-weight: 600;

  font-size: 24.22px;

}
/* =================================
   Speciality Section
================================= */
.SpecialitySection .about-line{
    height: 75px;
    
}
.SpecialitySection .about-us-tab {
        right: -60px;
        width: 53px;
    }
    .SpecialitySection .about-circle {
      bottom: 165px;
    }
/* =================================
   Services Section
================================= */
.Services .service-line {
  width: 93px;
}
   
}


/* =================================
   MOBILE
================================= */


@media (max-width: 767px) {

  .left-design,
  .right-design {
    min-height: 168px;
  }

  .left-design {
    display: flex;
    gap: 12px;
  }
  .right-design {
    display: flex;
    gap: 12px;
  }
  .spend-title {
    width:70px;
  }
  .spend-card {
    position: relative;

    width: 75%;

    height: 120px;

    border-radius: 0 0 20px 20px;
  }
  .col-md-7 {
  height:138px;
 }
  .main-image-wrapper {
    position: relative;
    top: 0;
    width: 100%;
    height: 130px
  }


  .top-image-wrapper {
    position: relative;

    width: 100%;

    right: 0;

    border-radius: 0;
  }

  .top-image {
    height: 100%
  }
 
  .stats-card {
    position: relative;
   padding :10px 20px;
    top: 0;
    right: 0;
    width: 100%;
    border-radius: 0;

  }

  /* =================================
   Slider Section
================================= */
.text-slider {
    padding: 15px 0;
  }

  .slider-text {
    font-size: 18px;

    margin-right: 50px;

    -webkit-text-stroke: 1px #DF3542;
  }
 /* =================================
   Speciality Section
================================= */

.SpecialitySection .position-relative .position-absolute {
    top: 25%;
    left: 36%;
    width: 65%;
}
.SpecialitySection .about-us-tab {
   display: none;
  }
  .SpecialitySection .col-md-8 .position-relative{
    padding-top: 15px;
  }
  /* =================================
   Services Section
================================= */
.Services .service-us-tab {
  display: none;
}
.Services .align-items-lg-start {
  width: 100%;
}
    .services-content {
        margin-top: 30px;
    }

    .service-right {
        margin-top: 30px;
    }

    .service-image img {
        height: 250px;
    }
    .Services .hover2 {
  display: none;
}
.Services .hover4 {
  display: flex !important;
  width: 100% !important;
}
}
@media only screen and (max-width:480px){
  .SpecialitySection .position-relative .position-absolute {
    top: 15%;
}

}